.root{
    background-color: #253053;
    width: 100%;
    height: 86px;
    margin-bottom: 3%;
    padding: 1%;
    color:darkturquoise;
}
.heading{
    float:left;
}
.para{
    float: right;
    margin-left: auto;
}